Brotli==1.0.9
certifi==2022.9.24
charset-normalizer==3.3.2
customtkinter==5.2.2
darkdetect==0.8.0
idna==3.6
music-tag==0.4.3
mutagen==1.46.0
packaging==23.2
pycryptodomex==3.16.0
requests==2.31.0
urllib3==2.1.0
websockets==10.4
yt-dlp==2023.11.16
